<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Index Page</title>

    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
    <!--<script type="text/javascript" src="/script/script.js"></script>-->

    <script id="tockify-embed-script" data-cfasync="false" data-tockify-script="embed"
            src="https://public.tockify.com/browser/embed.js"></script>
</head>
<body>

    <div id="calendarholder" style="height: 400px; width: 600px;">

        <div data-tockify-component="calendar" data-tockify-calendar="spirited" data-tockify-view="monthly"></div>
    </div>



</body>
</html>